{"openapi":"3.1.0","info":{"title":"Sumble API","description":"The official Sumble API for programmatic enrichment.","contact":{"name":"Sumble","email":"support@sumble.com"},"version":"v9"},"servers":[{"url":"https://api.sumble.com"}],"paths":{"/v9/organizations":{"post":{"tags":["organizations"],"summary":"Unified organizations endpoint","operationId":"enrich_organizations_unified__api_version__organizations_post","security":[{"api_token":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichOrganizationsRequest"},"examples":{"by_id":{"summary":"Lookup by Sumble id (no attributes requested)","value":{"organizations":[{"id":1726684}],"select":{}}},"by_filter":{"summary":"Filter (advanced query) instead of a list","value":{"filter":{"query":"technology EQ 'react'"},"limit":5,"order_by_column":"employee_count","order_by_direction":"DESC","select":{"attributes":["id","name","url"],"entities":[{"type":"technology","term":"kubernetes","metrics":"all"}]}}},"by_filter_concentration_sort":{"summary":"Filter sorted by a job function's people concentration (no source_data_url)","value":{"filter":{"query":"technology EQ 'react'"},"limit":5,"order_by_column":"people_concentration","order_by_direction":"DESC","order_by_job_function":"Data Engineer","select":{"attributes":["id","name","url"],"entities":[{"type":"job_function","term":"Data Engineer","metrics":["people_count","people_concentration"]}]}}},"by_filter_aq_concentration_sort":{"summary":"Filter sorted by an advanced query's job post concentration (no source_data_url)","value":{"filter":{"query":"employee_count EQ '1000-'"},"limit":5,"order_by_column":"job_post_concentration","order_by_direction":"DESC","order_by_advanced_query":"technology EQ 'react' AND job_function EQ 'Data Engineer'","select":{"attributes":["id","name","url"],"entities":[{"type":"advanced_query","term":"technology EQ 'react' AND job_function EQ 'Data Engineer'","metrics":["job_post_count","job_post_concentration"]}]}}},"by_name_url_with_attrs":{"summary":"Match by name/URL, request attributes","value":{"organizations":[{"name":"Sumble","url":"sumble.com"},{"name":"Google","location":"US"}],"select":{"attributes":["id","slug","name","url","employee_count","industry","jobs_count","teams_count","headquarters_country","sumble_score","sumble_url","parent_id","subsidiary_ids","tags"],"entities":[{"type":"technology","term":"kubernetes","metrics":["job_post_count","people_count","job_post_count_growth_1y"]},{"type":"technology","term":"react","metrics":["job_post_count","team_count"],"since":"2026-02-01"},{"type":"job_function","term":"Data Engineer","metrics":"all"},{"type":"advanced_query","term":"technology EQ 'react'","metrics":["job_post_count","team_count","people_count","job_post_concentration"]},{"type":"technology_category","term":"logging-observability-monitoring","granularity":"aggregate","metrics":"all"},{"type":"technology_category","term":"logging-observability-monitoring","granularity":"exploded","metrics":["job_post_count"],"since":"2026-02-01"}]}}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichOrganizationsResponse"},"example":{"id":"019d06c6-9d55-75a4-bf7f-2bde9b85b772","credits_used":73,"credits_remaining":98927,"organizations":[{"input":{"name":"Sumble","url":"sumble.com"},"attributes":{"id":1726684,"slug":"sumble","name":"Sumble","url":"sumble.com","employee_count":120,"industry":"Information","jobs_count":42,"teams_count":8,"headquarters_country":"US","sumble_score":82.5,"sumble_url":"https://sumble.com/l/org/TH2y9mGkRr1q","subsidiary_ids":[],"tags":["digital_native","b2b","is_ai_native","is_venture_backed"]},"entities":[{"type":"technology","term":"kubernetes","job_post_count":3,"job_post_count_url":"https://sumble.com/l/org/TH2y9mGkRr1q/jobs","people_count":2,"people_count_url":"https://sumble.com/l/org/TH2y9mGkRr1q/people","job_post_count_growth_1y":51.9,"job_post_count_growth_1y_url":"https://sumble.com/l/org/TH2y9mGkRr1q/trends/technologies"},{"type":"job_function","term":"Data Engineer","job_post_count":1,"job_post_count_url":"https://sumble.com/l/org/TH2y9mGkRr1q/jobs","team_count":1,"team_count_url":"https://sumble.com/l/org/TH2y9mGkRr1q/teams","people_count":0,"people_count_url":"https://sumble.com/l/org/TH2y9mGkRr1q/people","people_concentration":0.0,"people_count_growth_1y":0.25,"people_count_growth_1y_url":"https://sumble.com/l/org/TH2y9mGkRr1q/trends/job_functions_people"},{"type":"advanced_query","term":"technology EQ 'react'","job_post_count":2,"job_post_count_url":"https://sumble.com/l/org/TH2y9mGkRr1q/jobs","team_count":1,"team_count_url":"https://sumble.com/l/org/TH2y9mGkRr1q/teams","people_count":1,"people_count_url":"https://sumble.com/l/org/TH2y9mGkRr1q/people","job_post_concentration":0.0476},{"type":"technology_category","term":"logging-observability-monitoring","granularity":"aggregate","job_post_count":4,"job_post_count_url":"https://sumble.com/l/org/TH2y9mGkRr1q/jobs","team_count":2,"team_count_url":"https://sumble.com/l/org/TH2y9mGkRr1q/teams","people_count":3,"people_count_url":"https://sumble.com/l/org/TH2y9mGkRr1q/people"},{"type":"technology_category","term":"logging-observability-monitoring","granularity":"exploded","components":[{"type":"technology","term":"datadog","job_post_count":3,"job_post_count_url":"https://sumble.com/l/org/TH2y9mGkRr1q/jobs"},{"type":"technology","term":"prometheus","job_post_count":1,"job_post_count_url":"https://sumble.com/l/org/TH2y9mGkRr1q/jobs"}]}]},{"input":{"name":"Nonexistent","url":"nonexistent.example"},"attributes":{},"entities":[]}],"matched_count":1,"total":2}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/organizations/{organization_id}/intelligence-brief":{"get":{"tags":["organizations"],"summary":"Retrieve the intelligence brief for an organization","operationId":"get_intelligence_brief__api_version__organizations__organization_id__intelligence_brief_get","security":[{"api_token":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"integer","title":"Organization Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/IntelligenceBriefResponse"},{"$ref":"#/components/schemas/IntelligenceBriefPendingResponse"}],"title":"Response Get Intelligence Brief  Api Version  Organizations  Organization Id  Intelligence Brief Get"},"example":{"id":"019d25ba-90e8-7a3c-a008-7f0bf41ac79a","credits_used":50,"credits_remaining":9900,"organization_id":1726684,"organization_slug":"vanta","title":"Vanta intelligence brief for Sumble","body":"Vanta intelligence brief for Sumble\n\nThis brief is also [available on Sumble.com](https://sumble.com/l/org/MIkfQDbGSbraK/overview?intelligence_brief=1)\n\n## What's the Angle\n\nVanta is hiring into teams...\n\n## Who To Contact First\n\nPrioritize engineering leaders...","sumble_url":"https://sumble.com/l/org/MIkfQDbGSbraK/overview?intelligence_brief=1"}}}},"422":{"description":"The organization/domain does not have enough data to generate an intelligence brief. No credits are consumed.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"},"example":{"detail":"Unfortunately, we don't have enough information for Vanta to generate an intelligence brief."}}}},"202":{"description":"The brief is being generated. Retry the same URL after the `Retry-After` header. No credits are consumed.","headers":{"Retry-After":{"description":"Suggested seconds to wait before retrying the same URL","schema":{"type":"integer","example":20}}},"content":{"application/json":{"example":{"status":"pending","organization_id":1726684,"organization_slug":"vanta","message":"The intelligence brief is being generated. Retry the same URL after the `Retry-After` time. No credits are consumed for this response."}}}}}}},"/v9/organizations/{organization_id}/signals":{"get":{"tags":["organizations"],"summary":"Get organization signals","operationId":"get_organization_signals__api_version__organizations__organization_id__signals_get","security":[{"api_token":[]}],"parameters":[{"name":"organization_id","in":"path","required":true,"schema":{"type":"integer","title":"Organization Id"}},{"name":"technology_slugs","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Technology slugs to filter signals by. Repeat this query parameter to filter by multiple technologies. Use POST /technologies/lookup to resolve technology names, slugs, or aliases to canonical slugs; use POST /technologies/find to search for matching technologies.","title":"Technology Slugs"},"description":"Technology slugs to filter signals by. Repeat this query parameter to filter by multiple technologies. Use POST /technologies/lookup to resolve technology names, slugs, or aliases to canonical slugs; use POST /technologies/find to search for matching technologies."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignalsResponse"},"example":{"id":"019c2a87-11f0-78b3-b82d-cdd178cf4018","credits_used":1,"credits_remaining":998,"signals":[{"title":"Amazon hired Jane Doe","subtitle":"Started Jun 2026","explanation":"Jane Doe joined the platform team.","sales_angle":"The team is expanding Kubernetes.","date":"2026-06-17T12:00:00Z","sumble_url":"https://sumble.com/orgs/amazon/signals/s/123","display_type":"New hire using Kubernetes","type":"technology_recent_hires","organization_name":"Amazon","organization_id":1,"job_post_id":789,"person_id":456,"linkedin_url":"https://www.linkedin.com/in/jane-doe","location":"Seattle, WA","job_function":"Engineering","priority":"high"}]}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/contact-lists":{"get":{"tags":["contact-lists"],"summary":"List contact lists","operationId":"list_contact_lists__api_version__contact_lists_get","security":[{"api_token":[]}],"parameters":[],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactListsResponse"},"example":{"id":"019d25ba-90e8-7a3c-a008-7f0bf41ac79a","credits_used":1,"credits_remaining":9992,"contact_lists":[{"id":3839,"name":"Sumblers","people_count":17,"url":"https://sumble.com/lists/3839"}]}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["contact-lists"],"summary":"Create a contact list","operationId":"create_contact_list__api_version__contact_lists_post","security":[{"api_token":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateContactListRequest"},"example":{"name":"Target contacts"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateContactListResponse"},"example":{"id":3839,"name":"Target contacts","url":"https://sumble.com/lists/3839"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/contact-lists/{list_id}/people":{"post":{"tags":["contact-lists"],"summary":"Add people to a contact list","operationId":"add_contacts_to_list__api_version__contact_lists__list_id__people_post","security":[{"api_token":[]}],"parameters":[{"name":"list_id","in":"path","required":true,"schema":{"type":"integer","title":"List Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddContactsRequest"},"example":{"people_ids":[177409621,254399875]}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddContactsResponse"},"example":{"added":2,"already_on_list":0}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/contact-lists/{list_id}":{"get":{"tags":["contact-lists"],"summary":"Get contact list details","operationId":"get_contact_list__api_version__contact_lists__list_id__get","security":[{"api_token":[]}],"parameters":[{"name":"list_id","in":"path","required":true,"schema":{"type":"integer","title":"List Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactListResponse"},"example":{"id":"019d265b-526d-74cf-a4e0-2c41dc0f4866","credits_used":2,"credits_remaining":99986,"list_info":{"id":3839,"name":"Target contacts","people_count":2,"url":"https://sumble.com/lists/3839"},"people":[{"id":169860318,"url":"https://sumble.com/l/person/cSAZUHj6Nmt8","name":"Jared Nightingale","job_title":"Business Operations Specialist","job_function_name":"Operations","job_function_slug":"operations","linkedin_url":"https://www.linkedin.com/in/jared-nightingale","organization_id":1726684,"organization_name":"Sumble","organization_slug":"sumble"},{"id":177409621,"url":"https://sumble.com/l/person/mOGBSiARsL83","name":"Gervasio Marchand","job_title":"Founding Engineer","job_function_name":"Engineer","job_function_slug":"engineer","linkedin_url":"https://www.linkedin.com/in/g3rv4","organization_id":1726684,"organization_name":"Sumble","organization_slug":"sumble","contact_info":{"emails":["gervasio@sumble.com"]}}]}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/organization-lists":{"get":{"tags":["organization-lists"],"summary":"List organization lists","operationId":"list_organization_lists__api_version__organization_lists_get","security":[{"api_token":[]}],"parameters":[{"name":"include_deleted","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Include Deleted"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationListsResponse"},"example":{"id":"0195f8d2-1f67-7f52-b1d1-4d63c1e6e7b8","credits_used":3,"credits_remaining":997,"organization_lists":[{"id":41,"name":"My Accounts","url":"https://sumble.com/account-lists/41","organizations_count":25,"type":"user","read_only":false,"deletable":false,"deleted":false,"include_in_signals":true},{"id":42,"name":"Enterprise Targets","url":"https://sumble.com/account-lists/42","organizations_count":150,"type":"group","read_only":true,"deletable":false,"deleted":false,"include_in_signals":true},{"id":43,"name":"SMB Pipeline","url":"https://sumble.com/account-lists/43","organizations_count":75,"type":"user","read_only":false,"deletable":true,"deleted":false,"include_in_signals":false}]}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["organization-lists"],"summary":"Create an organization list","operationId":"create_organization_list__api_version__organization_lists_post","security":[{"api_token":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrganizationListRequest"},"example":{"name":"Enterprise Targets"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrganizationListResponse"},"example":{"id":42,"name":"Enterprise Targets"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/organization-lists/{list_id}":{"get":{"tags":["organization-lists"],"summary":"Get organization list details","operationId":"get_organization_list__api_version__organization_lists__list_id__get","security":[{"api_token":[]}],"parameters":[{"name":"list_id","in":"path","required":true,"schema":{"type":"integer","title":"List Id"}},{"name":"include_deleted","in":"query","required":false,"schema":{"type":"boolean","default":false,"title":"Include Deleted"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationListResponse"},"example":{"id":"0195f8d2-1f67-7f52-b1d1-4d63c1e6e7b8","credits_used":1,"credits_remaining":997,"list_info":{"id":42,"name":"Enterprise Targets","url":"https://sumble.com/account-lists/42","organizations_count":1,"type":"group","read_only":true,"deletable":false,"deleted":false,"include_in_signals":true},"organizations":[{"id":1726684,"name":"Sumble","slug":"sumble","sumble_url":"https://sumble.com/orgs/sumble","url":"https://sumble.com","employee_count":12,"account_status":"customer","crm_url":"https://example.my.salesforce.com/lightning/r/Account/001XX/view"}]}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/organization-lists/{list_id}/deleted":{"post":{"tags":["organization-lists"],"summary":"Set an organization list's deleted status","description":"Soft-delete or restore an organization list.\n\nSoft-deletion is reversible: pass ``deleted=false`` to restore a list.\nDeleting or restoring a list does not delete or restore individual\norganizations in the list. Pass ``include_deleted=true`` to the list/detail\nendpoints to see deleted lists.","operationId":"set_organization_list_deleted__api_version__organization_lists__list_id__deleted_post","security":[{"api_token":[]}],"parameters":[{"name":"list_id","in":"path","required":true,"schema":{"type":"integer","title":"List Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetOrganizationListDeletedRequest"},"example":{"deleted":true}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetOrganizationListDeletedResponse"},"example":{"id":42,"deleted":true}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/organization-lists/{list_id}/organizations":{"post":{"tags":["organization-lists"],"summary":"Add organizations to a list","operationId":"add_organizations_to_list__api_version__organization_lists__list_id__organizations_post","security":[{"api_token":[]}],"parameters":[{"name":"list_id","in":"path","required":true,"schema":{"type":"integer","title":"List Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOrganizationsRequest"},"example":{"organization_ids":[1,99999999],"organization_slugs":["sumble","non-existing-org"]}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOrganizationsResponse"},"example":{"added":[1,1726684],"failed_ids":[99999999],"failed_slugs":["non-existing-org"]}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/organization-lists/{list_id}/signals":{"post":{"tags":["organization-lists"],"summary":"Set a list's signals inclusion setting","description":"Include or exclude an organization list's accounts from your signals feed.\n\nPass ``include_in_signals=false`` to exclude this list's accounts from your\nsignals, or ``true`` to include them again. Lists are included by default.\nThis mirrors the per-list signals toggle in the dashboard.","operationId":"set_organization_list_signals__api_version__organization_lists__list_id__signals_post","security":[{"api_token":[]}],"parameters":[{"name":"list_id","in":"path","required":true,"schema":{"type":"integer","title":"List Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetOrganizationListSignalsRequest"},"example":{"include_in_signals":false}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationListSignalsResponse"},"example":{"id":42,"include_in_signals":false}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/technologies/find":{"post":{"tags":["technologies"],"summary":"Find technologies by name","operationId":"get_technologies__api_version__technologies_find_post","security":[{"api_token":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTechnologiesRequest"},"examples":{"filters":{"summary":"Search for s3","value":{"query":"s3"}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTechnologiesResponse"},"example":{"id":"019c2a87-11f0-78b3-b82d-cdd178cf4018","credits_used":0,"credits_remaining":999,"technologies":[{"slug":"aws-s3","name":"AWS S3","count":67836},{"slug":"ps3","name":"PS3","count":7588},{"slug":"gns3","name":"GNS3","count":4570},{"slug":"rhinoceros3d","name":"Rhinoceros3D","count":2245},{"slug":"ds3","name":"DS3","count":1827},{"slug":"as3","name":"AS3","count":1106},{"slug":"maas360","name":"MaaS360","count":900},{"slug":"ns3","name":"NS3","count":821},{"slug":"tabs3","name":"TABS3","count":749},{"slug":"css-css3","name":"CSS/CSS3","count":722},{"slug":"ibm-maas360","name":"IBM MaaS360","count":677},{"slug":"ccs3","name":"CCS3","count":656},{"slug":"tms320","name":"TMS320","count":615},{"slug":"vertafore-ams360","name":"Vertafore AMS360","count":535},{"slug":"s3-bucket","name":"S3 Bucket","count":471},{"slug":"s3-buckets","name":"S3 Buckets","count":434},{"slug":"s3d","name":"S3D","count":383},{"slug":"css3-scss","name":"CSS3/SCSS","count":274},{"slug":"rs3","name":"RS3","count":265},{"slug":"s3-storage","name":"S3 Storage","count":247},{"slug":"cs3","name":"CS3","count":240},{"slug":"money-s3","name":"Money S3","count":170},{"slug":"lms365","name":"LMS365","count":164},{"slug":"jes3","name":"JES3","count":161},{"slug":"windows365","name":"Windows365","count":142},{"slug":"html-css3","name":"HTML/CSS3","count":128},{"slug":"as3000","name":"AS3000","count":124},{"slug":"adobe-cs3","name":"Adobe CS3","count":109},{"slug":"flash-as3","name":"Flash AS3","count":108},{"slug":"s3000l","name":"S3000L","count":107},{"slug":"css3+","name":"CSS3+","count":106},{"slug":"css3-animation","name":"CSS3 Animation","count":106},{"slug":"vbs3","name":"VBS3","count":102},{"slug":"adobe-illustrator-cs3","name":"Adobe Illustrator CS3","count":101},{"slug":"ms365-suite","name":"MS365 Suite","count":96},{"slug":"aws-s3-bucket","name":"AWS S3 Bucket","count":96},{"slug":"yokogawa-cs3000","name":"Yokogawa CS3000","count":94},{"slug":"ms-dynamics365","name":"MS Dynamics365","count":93},{"slug":"ms360","name":"MS360","count":92},{"slug":"adobe-flash-cs3","name":"Adobe Flash CS3","count":90},{"slug":"abacus360","name":"Abacus360","count":89},{"slug":"os390","name":"OS390","count":88},{"slug":"dynamics365-crm","name":"Dynamics365 CRM","count":84},{"slug":"s3-glacier","name":"S3 Glacier","count":81},{"slug":"html5+css3","name":"HTML5+CSS3","count":80},{"slug":"adobe-dreamweaver-cs3","name":"Adobe Dreamweaver CS3","count":78},{"slug":"oas3","name":"OAS3","count":78},{"slug":"css3-animations","name":"CSS3 Animations","count":72},{"slug":"bucket-s3","name":"Bucket S3","count":72},{"slug":"helios3d","name":"Helios3D","count":72}],"total_count":1167}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/technologies/lookup":{"post":{"tags":["technologies"],"summary":"Look up technologies by name, slug, or alias","operationId":"lookup_technologies__api_version__technologies_lookup_post","security":[{"api_token":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupTechnologiesRequest"},"examples":{"filters":{"summary":"Look up bigquery and windows-azure","value":{"technologies":["bigquery","windows-azure"]}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupTechnologiesResponse"},"example":{"id":"019c2a87-11f0-78b3-b82d-cdd178cf4018","credits_used":1,"credits_remaining":999,"matched_count":2,"results":[{"input":"bigquery","technology":{"id":176,"slug":"gcp-bigquery","name":"GCP BigQuery","categories":[{"slug":"cloud-data-warehouse","name":"Cloud Data Warehouse","name_short":"Warehouse"},{"slug":"modern-data-platform","name":"Modern Data Platform","name_short":"Modern Data"},{"slug":"olap","name":"OLAP","name_short":"OLAP"}]}},{"input":"windows-azure","technology":{"id":9,"slug":"azure","name":"Azure","categories":[{"slug":"cloud-vendor","name":"Cloud Vendor","name_short":"Cloud"}]}}]}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/technologies/categories/lookup":{"post":{"tags":["technologies"],"summary":"Look up technology categories by slug or name","operationId":"lookup_technology_categories__api_version__technologies_categories_lookup_post","security":[{"api_token":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupTechnologyCategoriesRequest"},"examples":{"filters":{"summary":"Look up the cloud vendor category","value":{"technology_categories":["cloud-vendor"]}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupTechnologyCategoriesResponse"},"example":{"id":"019c2a87-11f0-78b3-b82d-cdd178cf4018","credits_used":1,"credits_remaining":999,"matched_count":1,"results":[{"input":"cloud-vendor","category":{"slug":"cloud-vendor","name":"Cloud Vendor","name_short":"Cloud","technologies":[{"id":6,"slug":"aws","name":"AWS"},{"id":9,"slug":"azure","name":"Azure"}]}}]}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/people":{"post":{"tags":["people"],"summary":"Unified people endpoint","description":"Find, match, and enrich people. Provide a `people` list (list mode) or a `filter` (search mode) and compose the response with `select`.\n\nOn **v7 and earlier** this endpoint is synchronous: one call returns the people.\n\nOn **v8 and later** it is **asynchronous** in both modes. Send a `people` or `filter` body to start a background job — the response returns a `request_id` and `status: \"pending\"`, and no credits are charged yet (the request is validated and your balance pre-checked, so you still get a `400`/`402` up front). Then send `{ \"request_id\": \"...\" }` to the same endpoint to poll: you get `status` `pending`/`running` until it finishes, then `succeeded` (with the full `people`/`total` result) or `failed`. Credits are charged once, on the first `succeeded` poll; repeat polls report `credits_used: 0`. The async response adds `request_id` and `status` fields.","operationId":"enrich_people_unified__api_version__people_post","security":[{"api_token":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichPeopleRequest"},"examples":{"by_org_ids":{"summary":"People at specific organizations (no attributes requested)","value":{"filter":{"organization_ids":[1726684]},"select":{}}},"by_list_with_query":{"summary":"Saved organization list + advanced query, all attributes","value":{"filter":{"organization_list_id":123,"query":{"query":"job_function EQ 'Engineer' AND technology EQ 'kubernetes' AND country EQ 'US'"}},"select":{"attributes":["name","linkedin_url","job_title","job_function","job_level","location","country","current_employer","technologies"]},"limit":50}},"by_org_person_score":{"summary":"People at one organization, all attributes, sorted by person score (requires an ICP)","value":{"filter":{"organization_ids":[1726684]},"select":{"attributes":"all"},"order_by_column":"person_score","limit":25}},"by_people_list":{"summary":"List mode: resolve and enrich specific people","value":{"people":[{"person_id":181438858},{"linkedin_url":"https://www.linkedin.com/in/jared-nightingale"},{"email":"lou@sumble.com"}],"select":{"attributes":["name","email","phone","job_title","current_employer"],"related_people":{"direction":["managers","direct_reports"],"attributes":["name","job_title"]}}}},"poll":{"summary":"(v8+) Poll a started request for its result","value":{"request_id":"019980d2-bc85-7571-9d60-7bc1d3084249"}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichPeopleResponse"},"example":{"id":"019980d2-bc85-7571-9d60-7bc1d3084249","credits_used":8,"credits_remaining":69156,"total":113,"source_data_url":"https://sumble.com/l/org/xhXARFaWtJL/people","people":[{"person_id":181438858,"sumble_url":"https://sumble.com/l/person/MBwjfWREd8Pz","attributes":{"name":"Akash Gajjar","linkedin_url":"https://www.linkedin.com/in/akashagajjar","job_title":"Software Engineer","job_function":"Software Engineer","job_level":"Individual Contributor","location":"Gainesville, Florida, United States","country":"United States","current_employer":{"organization_id":1726684,"name":"Sumble","start_date":"2024-08","sumble_url":"https://sumble.com/l/org/xhXARFaWtJL"},"technologies":[{"name":"Kubernetes","slug":"kubernetes"},{"name":"Python","slug":"python"}],"person_score":{"value":72.4,"skill_contribution":14.8,"job_function_contribution":28.2,"seniority_contribution":29.4,"matched_features":[{"name":"Software Engineer","slug":"software-engineer","match_type":"job_function","contribution":28.2},{"name":"Kubernetes","slug":"kubernetes","match_type":"technology","contribution":9.1}]}},"related_people":{"managers":[{"person_id":169860318,"sumble_url":"https://sumble.com/l/person/yxGWeupK3yPj","attributes":{"name":"Jared Nightingale","job_title":"Business Operations Specialist"}}],"direct_reports":[]}}]}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/jobs/title-lookup":{"post":{"tags":["jobs"],"summary":"Look up the function and level for job titles","operationId":"lookup_job_titles__api_version__jobs_title_lookup_post","security":[{"api_token":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupTitlesRequest"},"example":{"titles":["software engineer","senior data scientist"]}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupTitlesResponse"},"example":{"id":"019c9529-9d27-7e16-b721-76d18c339e3e","credits_used":1,"credits_remaining":999,"matched_count":2,"results":[{"input":"software engineer","job_function":{"id":97,"slug":"software-engineer","name":"Software Engineer"},"job_level":{"id":-1,"name":"Individual Contributor","level_rank":0}},{"input":"senior data scientist","job_function":{"id":74,"slug":"data-scientist","name":"Data Scientist"},"job_level":{"id":18,"name":"Senior","level_rank":1}}]}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/jobs":{"post":{"tags":["jobs"],"summary":"Unified jobs endpoint","operationId":"enrich_jobs_unified__api_version__jobs_post","security":[{"api_token":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichJobsRequest"},"examples":{"by_org_ids":{"summary":"Jobs at specific organizations (no attributes requested)","value":{"filter":{"organization_ids":[1726684]},"select":{}}},"by_query":{"summary":"Corpus-wide advanced query, some attributes","value":{"filter":{"query":{"query":"technology EQ 'kubernetes' AND job_function EQ 'Data Engineer' AND hiring_period EQ '6mo'"}},"select":{"attributes":["title","location","posted_date","organization"]},"limit":50}},"with_extracted_entities":{"summary":"Org-scoped jobs with extracted entities (+1 credit each per job)","value":{"filter":{"organization_ids":[1726684]},"select":{"attributes":["title","technologies","teams","job_functions","job_levels","projects"]},"limit":10}},"by_list_all_attributes":{"summary":"Saved organization list + query, all attributes (includes the full description and extracted entities)","value":{"filter":{"organization_list_id":123,"query":{"query":"technology EQ 'react'"}},"select":{"attributes":"all"},"limit":10}},"by_job_ids":{"summary":"List mode: enrich specific jobs by id","value":{"jobs":[{"job_id":95107725},{"job_id":12345}],"select":{"attributes":["title","description","organization"],"related_people":{"attributes":["name","job_title"],"limit":3}}}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnrichJobsResponse"},"examples":{"filter_mode":{"summary":"Filter mode","value":{"id":"019980d2-bc85-7571-9d60-7bc1d3084249","credits_used":9,"credits_remaining":69156,"total":113,"source_data_url":"https://sumble.com/l/org/xhXARFaWtJL/jobs","jobs":[{"job_id":95107725,"sumble_url":"https://sumble.com/l/job/fdYksIHVnJ","attributes":{"title":"gtm engineer","location":"United States","posted_date":"2026-02-20T12:20:03.687777Z","organization":{"organization_id":1726684,"name":"Sumble","domain":"sumble.com","sumble_url":"https://sumble.com/l/org/xhXARFaWtJL"},"technologies":[{"name":"Kubernetes","slug":"kubernetes","used":true,"sumble_url":"https://sumble.com/l/org/aQw2Ee9TrV/jobs"},{"name":"Salesforce","slug":"salesforce","used":false,"sumble_url":"https://sumble.com/l/org/bRx3Ff0UsW/jobs"}],"teams":[{"team_id":4242,"name":"Platform Engineering","slug":"platform-engineering","sumble_url":"https://sumble.com/l/team/aBcDeF"}],"job_functions":[{"name":"Data Engineer","slug":"data-engineer","sumble_url":"https://sumble.com/l/org/cSy4Gg1VtX/jobs"}],"job_levels":[{"name":"Senior"}],"projects":[{"name":"Cloud Migration","slug":"cloud-migration","goal":"Migrate on-prem workloads to GCP","sumble_url":"https://sumble.com/l/org/dTz5Hh2WuY/jobs"}]}}]}},"list_mode":{"summary":"List mode (one matched, one unmatched entry)","value":{"id":"019980d2-bc85-7571-9d60-7bc1d3084249","credits_used":4,"credits_remaining":69152,"matched_count":1,"total":2,"jobs":[{"input":{"job_id":95107725},"job_id":95107725,"sumble_url":"https://sumble.com/l/job/fdYksIHVnJ","attributes":{"title":"gtm engineer","description":"Sumble helps go-to-market teams win with deep account intelligence...","organization":{"organization_id":1726684,"name":"Sumble","domain":"sumble.com","sumble_url":"https://sumble.com/l/org/xhXARFaWtJL"}},"related_people":[{"person_id":169860318,"sumble_url":"https://sumble.com/l/person/yxGWeupK3yPj","attributes":{"name":"Jared Nightingale","job_title":"Business Operations Specialist"}}]},{"input":{"job_id":12345}}]}}}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/teams":{"post":{"tags":["teams"],"summary":"Unified teams endpoint","operationId":"find_teams__api_version__teams_post","security":[{"api_token":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindTeamsRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindTeamsResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/projects/lookup":{"post":{"tags":["projects"],"summary":"Look up projects by name","operationId":"lookup_projects__api_version__projects_lookup_post","security":[{"api_token":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupProjectsRequest"},"examples":{"filters":{"summary":"Look up cloud migration and generative AI projects","value":{"projects":["cloud migration","generative_ai"]}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LookupProjectsResponse"},"example":{"id":"019c2a87-11f0-78b3-b82d-cdd178cf4018","credits_used":1,"credits_remaining":999,"matched_count":2,"results":[{"input":"cloud migration","project":{"id":1,"slug":"cloud_migration","name":"Cloud Migration"}},{"input":"generative_ai","project":{"id":3,"slug":"generative_ai","name":"Generative AI"}}]}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/signals":{"post":{"tags":["signals"],"summary":"Search signals","description":"Signals are sales-relevant events such as champion job changes, recent hires and promotions, technology and product mentions, projects and initiatives, and technology and job-function trends. Job-post signals (technology and product mentions, projects, and first mentions) also include `suggested_contacts`: the top few people to consider reaching out to at the account, plus a link to view all of them. Each signal also carries `account_status`: the CRM relationship between the signal's organization and the calling account ('customer', 'prospect', or 'not_in_crm'). Only populated when the calling account has a linked CRM seat (Salesforce or HubSpot).","operationId":"search_signals__api_version__signals_post","security":[{"api_token":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchSignalsRequest"},"examples":{"by_technology":{"summary":"Signals matching technologies","value":{"filter":{"organization_ids":[171],"technology_slugs":["zoominfo"],"account_list_ids":[4]}}},"by_job_function":{"summary":"Signals matching job functions","value":{"filter":{"organization_ids":[31],"person_ids":[12729201],"signal_ids":[123],"job_functions":["Account Executive"],"account_list_ids":[4]}}},"by_accounts":{"summary":"Signals for specific accounts or lists","value":{"filter":{"organization_ids":[171],"account_list_ids":[4]}}},"by_priority":{"summary":"Signals matching priorities","value":{"filter":{"organization_ids":[171],"priorities":["high"]}}}}}}},"responses":{"200":{"description":"Signals matching the requested filters. Charged one credit per signal returned. Job-post signals also carry `suggested_contacts` with the top contacts to consider and a link to view all.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignalsResponse"},"example":{"id":"019c2a87-11f0-78b3-b82d-cdd178cf4018","credits_used":2,"credits_remaining":998,"signals":[{"title":"Amazon hired Jane Doe","subtitle":"Started Jun 2026","explanation":"Jane Doe joined the platform team.","sales_angle":"The team is expanding Kubernetes.","date":"2026-06-17T12:00:00Z","sumble_url":"https://sumble.com/orgs/amazon/signals/s/123","signal_id":123,"display_type":"New hire using Kubernetes","type":"technology_recent_hires","organization_name":"Amazon","organization_id":1,"job_post_id":789,"person_id":456,"linkedin_url":"https://www.linkedin.com/in/jane-doe","location":"Seattle, WA","job_function":"Engineering","priority":"high"},{"title":"Amazon is hiring for Kubernetes","explanation":"Kubernetes mentioned in a job post.","date":"2026-06-18T12:00:00Z","sumble_url":"https://sumble.com/orgs/amazon/signals/s/124","signal_id":124,"display_type":"Kubernetes mentioned","type":"technology_any_mentions","organization_name":"Amazon","organization_id":1,"job_post_id":790,"priority":"medium","suggested_contacts":{"people":[{"person_id":456,"name":"John Smith","title":"Director of Platform Engineering","linkedin_url":"https://www.linkedin.com/in/john-smith","score":7.6}],"sumble_url":"https://sumble.com/orgs/amazon/teams/platform/jobs/790"}}]}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/signals/priority":{"post":{"tags":["signals"],"summary":"Search priority signals","description":"Priority signals are AI-generated digest items summarizing the most important signals in a user's account feed. They optionally can be searched by signal, organization, person, or job post IDs attached to their source signals. Returns the most recent 20 priority signals based on the specified filters, or omit filters to simply return the latest.","operationId":"search_priority_signals__api_version__signals_priority_post","security":[{"api_token":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchPrioritySignalsRequest"},"examples":{"by_entity_ids":{"summary":"Priority signals matching source entities","value":{"filter":{"organization_ids":[171],"person_ids":[12729201],"signal_ids":[123],"job_post_ids":[789]}}}}}}},"responses":{"200":{"description":"Priority signals matching the requested filters. Charged one credit per priority signal returned.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrioritySignalsResponse"},"example":{"id":"019c2a87-11f0-78b3-b82d-cdd178cf4018","credits_used":1,"credits_remaining":998,"priority_signals":[{"url":"https://sumble.com/signals/priority/88","headline":"Amazon is expanding Kubernetes hiring","content":"Amazon has multiple high-priority signals...","date":"2026-06-17","signal_ids":[123],"organization_ids":[1],"person_ids":[456],"job_post_ids":[789]}]}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/signals/priority/{item_id}/relevance":{"put":{"tags":["signals"],"summary":"Update priority signal relevance","description":"Mark a priority signal (identified by its `id` from Search Priority Signals) as relevant or not relevant, or clear previously-set feedback by passing `is_relevant: null`. Mirrors the relevant / not relevant feedback available in the web app. Free -- does not consume credits.","operationId":"update_priority_signal_relevance__api_version__signals_priority__item_id__relevance_put","security":[{"api_token":[]}],"parameters":[{"name":"item_id","in":"path","required":true,"schema":{"type":"integer","title":"Item Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePrioritySignalRelevanceRequest"},"examples":{"mark_relevant":{"summary":"Mark relevant","value":{"is_relevant":true}},"clear_feedback":{"summary":"Clear feedback","value":{}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrioritySignalRelevanceResponse"},"example":{"id":88,"is_relevant":true}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/support/data-quality":{"post":{"tags":["support"],"summary":"Create Data Quality Report","description":"Report a data quality issue. Routed to the data team for triage.","operationId":"create_data_quality_report__api_version__support_data_quality_post","security":[{"api_token":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDataQualityReportRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupportRequestResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v9/support":{"post":{"tags":["support"],"summary":"Create Support Request","description":"Submit a general support request.","operationId":"create_support_request__api_version__support_post","security":[{"api_token":[]}],"parameters":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSupportRequestRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupportRequestResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AddContactsRequest":{"properties":{"people_ids":{"items":{"type":"integer"},"type":"array","title":"People Ids"}},"type":"object","required":["people_ids"],"title":"AddContactsRequest"},"AddContactsResponse":{"properties":{"url":{"type":"string","maxLength":2083,"minLength":1,"format":"uri","title":"Url"},"added":{"type":"integer","title":"Added"},"already_on_list":{"type":"integer","title":"Already On List"}},"type":"object","required":["url","added","already_on_list"],"title":"AddContactsResponse"},"AddOrganizationsRequest":{"properties":{"organization_ids":{"items":{"type":"integer"},"type":"array","title":"Organization Ids","default":[]},"organization_slugs":{"items":{"type":"string"},"type":"array","title":"Organization Slugs","default":[]}},"type":"object","title":"AddOrganizationsRequest"},"AddOrganizationsResponse":{"properties":{"added":{"items":{"type":"integer"},"type":"array","title":"Added"},"failed_ids":{"items":{"type":"integer"},"type":"array","title":"Failed Ids"},"failed_slugs":{"items":{"type":"string"},"type":"array","title":"Failed Slugs"}},"type":"object","required":["added","failed_ids","failed_slugs"],"title":"AddOrganizationsResponse"},"Attributes":{"properties":{"id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Id"},"slug":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Slug"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"employee_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Employee Count"},"industry":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Industry"},"jobs_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Jobs Count"},"teams_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Teams Count"},"headquarters_country":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Headquarters Country"},"sumble_score":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Sumble Score"},"sumble_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sumble Url"},"parent_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Parent Id"},"subsidiary_ids":{"anyOf":[{"items":{"type":"integer"},"type":"array"},{"type":"null"}],"title":"Subsidiary Ids"},"tags":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Tags"},"account_status":{"anyOf":[{"type":"string","enum":["customer","prospect","not_in_crm"]},{"type":"null"}],"title":"Account Status","description":"CRM relationship between the org and the user's account: 'customer' (a customer account in the user's CRM), 'prospect' (tracked in CRM but not a customer), or 'not_in_crm' (no CRM record). Free (no credit cost). Only populated when the user's account has a linked CRM seat; omitted for other users even if requested."},"funding_total_raised":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Funding Total Raised","description":"Total funding raised across all rounds, in whole USD. LLM-extracted from SEC filings and web search; approximate, and may be unconverted for non-USD rounds."},"funding_valuation":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Funding Valuation","description":"Most recent post-money valuation, in whole USD. LLM-extracted; approximate."},"funding_last_round_raised":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Funding Last Round Raised","description":"Amount raised in the latest funding round, in whole USD. LLM-extracted; approximate."},"funding_last_round_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Funding Last Round Type","description":"Latest funding round type, e.g. seed, series_a, private_equity."},"funding_last_round_date":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"title":"Funding Last Round Date","description":"Date of the latest funding round (ISO YYYY-MM-DD)."},"cloud_spend_estimate_millions_usd":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Cloud Spend Estimate Millions Usd"}},"type":"object","title":"Attributes"},"CategoryDetails":{"properties":{"slug":{"type":"string","title":"Slug"},"name":{"type":"string","title":"Name"},"name_short":{"type":"string","title":"Name Short"},"technologies":{"items":{"$ref":"#/components/schemas/Technology"},"type":"array","title":"Technologies","description":"Technologies in the category. Technologies mentioned most often in job postings appear first."}},"type":"object","required":["slug","name","name_short","technologies"],"title":"CategoryDetails"},"ContactInfoRequested":{"properties":{"email":{"type":"boolean","title":"Email","default":false},"phone":{"type":"boolean","title":"Phone","default":false}},"type":"object","title":"ContactInfoRequested"},"ContactListContactInfo":{"properties":{"emails":{"items":{"type":"string"},"type":"array","title":"Emails"},"phone":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phone"},"requested":{"$ref":"#/components/schemas/ContactInfoRequested"}},"type":"object","required":["emails"],"title":"ContactListContactInfo","description":"Paid-API contact info for a contact-list person.\n\nDeliberately decoupled from the shared `ProfileContactInfo` (as\n`/people/enrich` already is): the shared model carries web-only fields (e.g.\nthe async-reveal `pending` flag, SMB-2070) that must not drift into the\nCadwyn-versioned paid response. This mirrors the shared model's current paid\ncontract exactly — `emails`, `phone`, `requested`."},"ContactListPerson":{"properties":{"id":{"anyOf":[{"type":"integer"},{"type":"string"}],"title":"Id"},"url":{"type":"string","maxLength":2083,"minLength":1,"format":"uri","title":"Url"},"name":{"type":"string","title":"Name"},"job_title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Job Title"},"job_function_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Job Function Name"},"job_function_slug":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Job Function Slug"},"linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Linkedin Url"},"organization_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Organization Id"},"organization_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Organization Name"},"organization_slug":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Organization Slug"},"contact_info":{"anyOf":[{"$ref":"#/components/schemas/ContactListContactInfo"},{"type":"null"}]}},"type":"object","required":["id","url","name"],"title":"ContactListPerson"},"ContactListResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"credits_used":{"type":"integer","title":"Credits Used"},"credits_remaining":{"type":"integer","title":"Credits Remaining"},"list_info":{"$ref":"#/components/schemas/ContactListSummary"},"people":{"items":{"$ref":"#/components/schemas/ContactListPerson"},"type":"array","title":"People"}},"type":"object","required":["id","credits_used","credits_remaining","list_info","people"],"title":"ContactListResponse"},"ContactListSummary":{"properties":{"id":{"type":"integer","title":"Id"},"name":{"type":"string","title":"Name"},"people_count":{"type":"integer","title":"People Count"},"url":{"type":"string","maxLength":2083,"minLength":1,"format":"uri","title":"Url"}},"type":"object","required":["id","name","people_count","url"],"title":"ContactListSummary"},"ContactListsResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"credits_used":{"type":"integer","title":"Credits Used"},"credits_remaining":{"type":"integer","title":"Credits Remaining"},"contact_lists":{"items":{"$ref":"#/components/schemas/ContactListSummary"},"type":"array","title":"Contact Lists"}},"type":"object","required":["id","credits_used","credits_remaining","contact_lists"],"title":"ContactListsResponse"},"CreateContactListRequest":{"properties":{"name":{"type":"string","title":"Name"}},"type":"object","required":["name"],"title":"CreateContactListRequest"},"CreateContactListResponse":{"properties":{"id":{"type":"integer","title":"Id"},"name":{"type":"string","title":"Name"},"url":{"type":"string","maxLength":2083,"minLength":1,"format":"uri","title":"Url"}},"type":"object","required":["id","name","url"],"title":"CreateContactListResponse"},"CreateDataQualityReportRequest":{"properties":{"message":{"type":"string","maxLength":5000,"title":"Message"},"url":{"anyOf":[{"type":"string","maxLength":2048},{"type":"null"}],"title":"Url"},"page_title":{"anyOf":[{"type":"string","maxLength":500},{"type":"null"}],"title":"Page Title"}},"type":"object","required":["message"],"title":"CreateDataQualityReportRequest"},"CreateOrganizationListRequest":{"properties":{"name":{"type":"string","title":"Name"}},"type":"object","required":["name"],"title":"CreateOrganizationListRequest"},"CreateOrganizationListResponse":{"properties":{"id":{"type":"integer","title":"Id"},"name":{"type":"string","title":"Name"},"url":{"type":"string","maxLength":2083,"minLength":1,"format":"uri","title":"Url"}},"type":"object","required":["id","name","url"],"title":"CreateOrganizationListResponse"},"CreateSupportRequestRequest":{"properties":{"message":{"type":"string","maxLength":5000,"title":"Message"},"url":{"anyOf":[{"type":"string","maxLength":2048},{"type":"null"}],"title":"Url"}},"type":"object","required":["message"],"title":"CreateSupportRequestRequest"},"CurrentEmployer":{"properties":{"organization_id":{"type":"integer","title":"Organization Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"start_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Start Date","description":"Start of the person's current role (YYYY-MM)."},"sumble_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Sumble Url","description":"Link to the organization's Sumble profile page."}},"type":"object","required":["organization_id"],"title":"CurrentEmployer"},"EnrichJobsRequest":{"properties":{"jobs":{"anyOf":[{"items":{"$ref":"#/components/schemas/JobInput"},"type":"array","maxItems":1000,"minItems":1},{"type":"null"}],"title":"Jobs","description":"List of jobs to enrich by id. One result row per entry, in input order. Mutually exclusive with `filter`."},"filter":{"anyOf":[{"$ref":"#/components/schemas/JobsFilter"},{"type":"null"}],"description":"Query selecting the jobs to return. Mutually exclusive with `jobs`."},"select":{"$ref":"#/components/schemas/JobsSelect","description":"Dictates exactly which attributes are returned."},"limit":{"type":"integer","maximum":200.0,"minimum":1.0,"title":"Limit","description":"Maximum number of jobs to return (filter mode only; ignored when `jobs` is provided).","default":10},"offset":{"type":"integer","maximum":10000.0,"minimum":0.0,"title":"Offset","description":"Number of results to skip (filter mode only; ignored when `jobs` is provided).","default":0}},"additionalProperties":false,"type":"object","required":["select"],"title":"EnrichJobsRequest"},"EnrichJobsResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"credits_used":{"type":"integer","title":"Credits Used"},"credits_remaining":{"type":"integer","title":"Credits Remaining"},"jobs":{"items":{"$ref":"#/components/schemas/JobRow"},"type":"array","title":"Jobs"},"matched_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Matched Count","description":"List mode only: how many input entries matched a Sumble job."},"total":{"type":"integer","title":"Total"},"source_data_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Source Data Url"}},"type":"object","required":["id","credits_used","credits_remaining","jobs","total"],"title":"EnrichJobsResponse"},"EnrichOrganizationsRequest":{"properties":{"organizations":{"anyOf":[{"items":{"$ref":"#/components/schemas/MatchOrganizationInput"},"type":"array","maxItems":1000,"minItems":1},{"type":"null"}],"title":"Organizations","description":"List of organizations to resolve and enrich. Mutually exclusive with `filter`."},"filter":{"anyOf":[{"$ref":"#/components/schemas/Query"},{"type":"null"}],"description":"Advanced query selecting the organizations to return. Mutually exclusive with `organizations`."},"select":{"$ref":"#/components/schemas/Select","description":"Dictates exactly which columns are returned."},"limit":{"type":"integer","maximum":200.0,"minimum":1.0,"title":"Limit","description":"Maximum number of results to return.","default":10},"offset":{"type":"integer","maximum":10000.0,"minimum":0.0,"title":"Offset","description":"Number of results to skip.","default":0},"order_by_column":{"anyOf":[{"type":"string","enum":["industry","employee_count","employee_count_int","first_activity_time","last_activity_time","jobs_count","teams_count","people_count","jobs_count_growth_6mo","cloud_spend_estimate_millions_usd","account_score"]},{"type":"string","enum":["people_concentration","people_count_growth_1y"]},{"type":"string","const":"job_post_concentration"},{"type":"null"}],"title":"Order By Column","description":"Column to order by (filter mode only). Parameterized sorts (this endpoint only): `people_concentration` and `people_count_growth_1y` sort by the named job function's people metrics — the all-time fraction of the org's tracked people in it, and its current YoY people growth % (latest month vs. one year earlier; orgs without growth data sort last) respectively — and require `order_by_job_function`. `job_post_concentration` sorts by the all-time fraction of the org's job posts matching `order_by_advanced_query`, which it requires. `source_data_url` is omitted for all three, since the listing page cannot reproduce their ordering."},"order_by_direction":{"anyOf":[{"type":"string","enum":["ASC","DESC"]},{"type":"null"}],"title":"Order By Direction","description":"Direction to order by (filter mode only)."},"order_by_job_function":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Order By Job Function","description":"Job function whose people metrics drive the sort. Required with (and only valid with) `order_by_column=\"people_concentration\"` or `order_by_column=\"people_count_growth_1y\"`."},"order_by_advanced_query":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Order By Advanced Query","description":"Advanced query whose matching job posts form the sort numerator. Required with (and only valid with) `order_by_column=\"job_post_concentration\"`. Allowed fields: technology, technology_category, job_function, project, job_level, country. Both the matching and total job counts are all-time."}},"additionalProperties":false,"type":"object","required":["select"],"title":"EnrichOrganizationsRequest"},"EnrichOrganizationsResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"credits_used":{"type":"integer","title":"Credits Used"},"credits_remaining":{"type":"integer","title":"Credits Remaining"},"organizations":{"items":{"$ref":"#/components/schemas/ResultRow"},"type":"array","title":"Organizations"},"matched_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Matched Count"},"total":{"type":"integer","title":"Total"},"source_data_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Source Data Url"}},"type":"object","required":["id","credits_used","credits_remaining","organizations","total"],"title":"EnrichOrganizationsResponse"},"EnrichPeopleRequest":{"properties":{"people":{"anyOf":[{"items":{"$ref":"#/components/schemas/PersonInput"},"type":"array","maxItems":1000,"minItems":1},{"type":"null"}],"title":"People","description":"List of people to resolve and enrich. One result row per entry, in input order. Mutually exclusive with `filter`."},"filter":{"anyOf":[{"$ref":"#/components/schemas/PeopleFilter"},{"type":"null"}],"description":"Query selecting the people to return. Mutually exclusive with `people`."},"select":{"$ref":"#/components/schemas/PeopleSelect","description":"Dictates exactly which attributes are returned."},"limit":{"type":"integer","maximum":200.0,"minimum":1.0,"title":"Limit","description":"Maximum number of people to return (filter mode only; ignored when `people` is provided).","default":10},"offset":{"type":"integer","maximum":10000.0,"minimum":0.0,"title":"Offset","description":"Number of results to skip (filter mode only; ignored when `people` is provided).","default":0},"order_by_column":{"anyOf":[{"type":"string","enum":["person_score","start_date","job_level"]},{"type":"null"}],"title":"Order By Column","description":"Column to order by (filter mode only): `start_date` (current role start), `job_level` (seniority rank), or `person_score`. `person_score` sorts people by how well they match your ideal customer profile (ICP) and includes — and charges for — the `person_score` attribute on every row; it requires the filter to resolve to exactly one organization and an ICP configured for your account, and only supports descending order. Default: Sumble's standard people ordering."},"order_by_direction":{"anyOf":[{"type":"string","enum":["ASC","DESC"]},{"type":"null"}],"title":"Order By Direction","description":"Sort direction; DESC when omitted."},"request_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Request Id","description":"(v8 only) Id of a previously started async request (returned by the kickoff call). Provide this alone to poll for the status and result."}},"additionalProperties":false,"type":"object","title":"EnrichPeopleRequest"},"EnrichPeopleResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"credits_used":{"type":"integer","title":"Credits Used"},"credits_remaining":{"type":"integer","title":"Credits Remaining"},"request_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Request Id","description":"(v8 only) Id of the async request. Poll POST /people with this id to retrieve the status and result."},"status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status","description":"(v8 only) Request status: pending, running, succeeded, or failed. Null on the synchronous (<= v7) endpoint."},"people":{"anyOf":[{"items":{"$ref":"#/components/schemas/PersonRow"},"type":"array"},{"type":"null"}],"title":"People"},"matched_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Matched Count","description":"List mode only: how many input entries resolved to a Sumble person."},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"source_data_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Source Data Url"}},"type":"object","required":["id","credits_used","credits_remaining"],"title":"EnrichPeopleResponse"},"EntityResult":{"properties":{"type":{"type":"string","enum":["job_function","technology","project","advanced_query","technology_category"],"title":"Type"},"term":{"type":"string","title":"Term"},"job_post_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Job Post Count"},"job_post_count_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Job Post Count Url"},"job_post_used_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Job Post Used Count","description":"technology only. Number of the org's job posts that list this technology as actively used (rather than merely mentioned). Scoped to the same `since` window as job_post_count when set. None for non-technology entities."},"team_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Team Count"},"team_count_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Team Count Url"},"people_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"People Count"},"people_count_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"People Count Url"},"job_post_concentration":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Job Post Concentration","description":"advanced_query only. Fraction (0-1) of the org's job posts matching the query. Scoped to the same `since` window as job_post_count when set. None for unresolved orgs or orgs with no job posts."},"people_concentration":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"People Concentration","description":"job_function only. Fraction (0-1) of the org's tracked people in this job function: people_count / total people in the org. Scoped to the same `since` window as people_count when set. None for unresolved orgs or orgs with no tracked people."},"people_count_growth_1y":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"People Count Growth 1Y"},"people_count_growth_1y_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"People Count Growth 1Y Url"},"job_post_count_growth_1y":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Job Post Count Growth 1Y"},"job_post_count_growth_1y_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Job Post Count Growth 1Y Url"},"granularity":{"anyOf":[{"type":"string","enum":["aggregate","exploded"]},{"type":"null"}],"title":"Granularity"},"components":{"anyOf":[{"items":{"$ref":"#/components/schemas/EntityResult"},"type":"array"},{"type":"null"}],"title":"Components"}},"type":"object","required":["type","term"],"title":"EntityResult"},"EntitySelection":{"properties":{"type":{"type":"string","enum":["job_function","technology","project","advanced_query","technology_category"],"title":"Type","description":"The entity type to enrich against."},"term":{"type":"string","minLength":1,"title":"Term","description":"The entity term: a technology name, job function, project, category, or advanced query string."},"metrics":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"string","const":"all"},{"type":"null"}],"title":"Metrics","description":"Metric names valid for `type`, or \"all\". Required for every type."},"granularity":{"anyOf":[{"type":"string","enum":["aggregate","exploded"]},{"type":"null"}],"title":"Granularity","description":"`technology_category` only (required there, disallowed elsewhere). `aggregate` rolls the category up into one set of counts; `exploded` decomposes into per-component-technology counts."},"since":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Since","description":"Scopes job_post_count, job_post_used_count, team_count, and people_count to activity since this date (YYYY-MM-DD). Does not affect people_count_growth_1y."}},"additionalProperties":false,"type":"object","required":["type","term"],"title":"EntitySelection"},"FindTeamsRequest":{"properties":{"teams":{"anyOf":[{"items":{"type":"integer"},"type":"array","maxItems":1000,"minItems":1},{"type":"null"}],"title":"Teams","description":"List of Sumble team ids to retrieve and enrich. One result row per entry, in input order. Mutually exclusive with `filter`."},"filter":{"anyOf":[{"$ref":"#/components/schemas/TeamsFilter"},{"type":"null"}],"description":"Query selecting the teams to return. Mutually exclusive with `teams`."},"select":{"$ref":"#/components/schemas/TeamsSelect","description":"Dictates exactly which attributes are returned."},"limit":{"type":"integer","maximum":200.0,"minimum":1.0,"title":"Limit","description":"Maximum number of teams to return (filter mode only; ignored when `teams` is provided).","default":10},"offset":{"type":"integer","maximum":10000.0,"minimum":0.0,"title":"Offset","description":"Number of results to skip (filter mode only; ignored when `teams` is provided).","default":0},"order_by_column":{"anyOf":[{"type":"string","enum":["jobs_count","first_activity","last_activity","score"]},{"type":"null"}],"title":"Order By Column","description":"Column to order by (filter mode only): `jobs_count`, `first_activity` or `last_activity`. Default: jobs_count."},"order_by_direction":{"anyOf":[{"type":"string","enum":["ASC","DESC"]},{"type":"null"}],"title":"Order By Direction","description":"Sort direction; DESC when omitted."}},"additionalProperties":false,"type":"object","required":["select"],"title":"FindTeamsRequest"},"FindTeamsResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"credits_used":{"type":"integer","title":"Credits Used"},"credits_remaining":{"type":"integer","title":"Credits Remaining"},"teams":{"items":{"$ref":"#/components/schemas/TeamResultRow"},"type":"array","title":"Teams"},"matched_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Matched Count","description":"List mode only: how many input ids matched a Sumble team."},"total":{"type":"integer","title":"Total"},"source_data_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Source Data Url"}},"type":"object","required":["id","credits_used","credits_remaining","teams","total"],"title":"FindTeamsResponse"},"GetTechnologiesRequest":{"properties":{"query":{"type":"string","title":"Query"}},"type":"object","required":["query"],"title":"GetTechnologiesRequest"},"GetTechnologiesResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"credits_used":{"type":"integer","title":"Credits Used"},"credits_remaining":{"type":"integer","title":"Credits Remaining"},"technologies":{"items":{"$ref":"#/components/schemas/app__schemas__paid_api__technologies__GetTechnologiesResponse__TechDetails"},"type":"array","title":"Technologies"},"total_count":{"type":"integer","title":"Total Count"}},"type":"object","required":["id","credits_used","credits_remaining","technologies","total_count"],"title":"GetTechnologiesResponse"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"IntelligenceBriefPendingResponse":{"properties":{"status":{"type":"string","title":"Status","description":"Always 'pending' for 202 responses","default":"pending"},"organization_id":{"type":"integer","title":"Organization Id"},"organization_slug":{"type":"string","title":"Organization Slug"},"message":{"type":"string","title":"Message"}},"type":"object","required":["organization_id","organization_slug","message"],"title":"IntelligenceBriefPendingResponse","description":"Returned with HTTP 202 when the brief is being generated.\n\nThe caller should retry the same URL after the `Retry-After` header. No\ncredits are consumed for 202 responses."},"IntelligenceBriefResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"credits_used":{"type":"integer","title":"Credits Used"},"credits_remaining":{"type":"integer","title":"Credits Remaining"},"organization_id":{"type":"integer","title":"Organization Id"},"organization_slug":{"type":"string","title":"Organization Slug"},"title":{"type":"string","title":"Title"},"body":{"type":"string","title":"Body"},"sumble_url":{"type":"string","maxLength":2083,"minLength":1,"format":"uri","title":"Sumble Url"}},"type":"object","required":["id","credits_used","credits_remaining","organization_id","organization_slug","title","body","sumble_url"],"title":"IntelligenceBriefResponse"},"JobAttributes":{"properties":{"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"location":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Location"},"posted_date":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Posted Date"},"organization":{"anyOf":[{"$ref":"#/components/schemas/JobOrganization"},{"type":"null"}]},"technologies":{"anyOf":[{"items":{"$ref":"#/components/schemas/JobTechnology"},"type":"array"},{"type":"null"}],"title":"Technologies","description":"All technologies extracted from the posting; empty list when requested but none were extracted."},"teams":{"anyOf":[{"items":{"$ref":"#/components/schemas/JobTeam"},"type":"array"},{"type":"null"}],"title":"Teams","description":"Teams extracted from the posting; empty list when requested but none were extracted."},"job_functions":{"anyOf":[{"items":{"$ref":"#/components/schemas/app__schemas__paid_api__jobs_unified__JobFunction"},"type":"array"},{"type":"null"}],"title":"Job Functions","description":"Job functions classified from the posting; empty list when requested but none were classified."},"job_levels":{"anyOf":[{"items":{"$ref":"#/components/schemas/app__schemas__paid_api__jobs_unified__JobLevel"},"type":"array"},{"type":"null"}],"title":"Job Levels","description":"Seniority levels classified from the posting; empty list when requested but none were classified."},"projects":{"anyOf":[{"items":{"$ref":"#/components/schemas/JobProject"},"type":"array"},{"type":"null"}],"title":"Projects","description":"Projects extracted from the posting; empty list when requested but none were extracted."}},"type":"object","title":"JobAttributes"},"JobInput":{"properties":{"job_id":{"type":"integer","minimum":1.0,"title":"Job Id","description":"Job id on Sumble."}},"additionalProperties":false,"type":"object","required":["job_id"],"title":"JobInput"},"JobOrganization":{"properties":{"organization_id":{"type":"integer","title":"Organization Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"domain":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Domain"},"sumble_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Sumble Url","description":"Link to the organization's Sumble profile page."}},"type":"object","required":["organization_id"],"title":"JobOrganization"},"JobPostsSelection":{"properties":{"components":{"anyOf":[{"items":{"type":"string","enum":["job_details","technologies","job_functions","job_level"]},"type":"array"},{"type":"string","const":"all"}],"title":"Components","description":"Job components to return per posting, or 'all' for every available component. Mirrors the unified jobs endpoint: `job_details` (title, location, posted date), `technologies`, `job_functions`, `job_level`. Never includes the full description (fetch that from the jobs endpoint with the returned job ids).","default":[]},"max_per_team":{"type":"integer","maximum":100.0,"minimum":1.0,"title":"Max Per Team","description":"Maximum job postings returned per team.","default":10},"since":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Since","description":"Only return job postings pulled on or after this date (YYYY-MM-DD)."}},"additionalProperties":false,"type":"object","title":"JobPostsSelection"},"JobProject":{"properties":{"name":{"type":"string","title":"Name"},"slug":{"type":"string","title":"Slug"},"goal":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Goal"},"sumble_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Sumble Url","description":"The posting organization's jobs page filtered to this project."}},"type":"object","required":["name","slug"],"title":"JobProject"},"JobRelatedPeopleSelection":{"properties":{"attributes":{"anyOf":[{"items":{"type":"string","enum":["name","email","phone","linkedin_url","job_title","job_function","job_level","location","country","current_employer","technologies","person_score","confidence"]},"type":"array"},{"type":"string","const":"all"}],"title":"Attributes","description":"Person-level attributes to include for each related person, or 'all' for every attribute available here. Contact attributes (email, phone) and `person_score` are not available here; `confidence` (the inferred relationship's score breakdown) is only available here.","default":[]},"limit":{"type":"integer","maximum":25.0,"minimum":1.0,"title":"Limit","description":"Maximum related people returned per job.","default":5},"job_levels":{"items":{"type":"string"},"type":"array","title":"Job Levels","description":"Only return related people whose job level is one of these (by name, e.g. 'Director', 'VP'); matching is OR across the list. When provided, this replaces the default seniority filter. When empty (the default), only likely hiring managers are returned — people at Manager level or above, and more senior than the role.","default":[]},"job_functions":{"items":{"type":"string"},"type":"array","title":"Job Functions","description":"Only return related people whose primary job function is one of these (by name, e.g. 'Engineering') or a descendant of one; matching is OR across the list and all descendants. Combined with `job_levels` as AND. Empty (the default) applies no job function filter.","default":[]},"sort_order":{"type":"string","enum":["score","level"],"title":"Sort Order","description":"How related people are ranked: 'score' (similarity score, the default; ties broken by seniority) or 'level' (seniority; ties broken by score).","default":"score"},"sort_direction":{"type":"string","enum":["desc","asc"],"title":"Sort Direction","description":"Direction for `sort_order`. The default 'desc' puts the highest score / most senior people first.","default":"desc"}},"additionalProperties":false,"type":"object","title":"JobRelatedPeopleSelection"},"JobRow":{"properties":{"input":{"anyOf":[{"$ref":"#/components/schemas/JobInput"},{"type":"null"}],"description":"The input entry this row corresponds to (list mode only)."},"job_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Job Id","description":"Absent when the input entry didn't match a Sumble job."},"sumble_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Sumble Url","description":"Link to the job posting's Sumble page."},"attributes":{"anyOf":[{"$ref":"#/components/schemas/JobAttributes"},{"type":"null"}],"description":"The requested job attributes; absent when none are requested."},"related_people":{"anyOf":[{"items":{"$ref":"#/components/schemas/RelatedPersonRow"},"type":"array"},{"type":"null"}],"title":"Related People","description":"Scored hiring managers / team members for the job. Present (possibly empty) when `select.related_people` is requested and the job matched; absent otherwise."}},"type":"object","title":"JobRow"},"JobTeam":{"properties":{"team_id":{"type":"integer","title":"Team Id"},"name":{"type":"string","title":"Name"},"slug":{"type":"string","title":"Slug"},"sumble_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Sumble Url","description":"Link to the team's Sumble page."}},"type":"object","required":["team_id","name","slug"],"title":"JobTeam"},"JobTechnology":{"properties":{"name":{"type":"string","title":"Name"},"slug":{"type":"string","title":"Slug"},"used":{"type":"boolean","title":"Used","description":"True when the posting indicates the technology is used by the team, not merely mentioned."},"sumble_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Sumble Url","description":"The posting organization's jobs page filtered to this technology."}},"type":"object","required":["name","slug","used"],"title":"JobTechnology"},"JobsFilter":{"properties":{"organization_ids":{"anyOf":[{"items":{"type":"integer"},"type":"array","maxItems":1000,"minItems":1},{"type":"null"}],"title":"Organization Ids","description":"Sumble organization ids to scope the search to. Unknown ids simply match no jobs."},"organization_list_id":{"anyOf":[{"type":"integer","minimum":1.0},{"type":"null"}],"title":"Organization List Id","description":"Id of one of your saved organization lists (see /organization-lists) whose organizations to search within. Combined with `organization_ids` when both are provided."},"query":{"anyOf":[{"$ref":"#/components/schemas/Query"},{"type":"null"}],"description":"Advanced query narrowing the jobs returned (technologies, technology categories, job functions, countries, hiring period, ...)."}},"additionalProperties":false,"type":"object","title":"JobsFilter"},"JobsSelect":{"properties":{"attributes":{"anyOf":[{"items":{"type":"string","enum":["title","description","location","posted_date","organization","technologies","teams","job_functions","job_levels","projects"]},"type":"array"},{"type":"string","const":"all"}],"title":"Attributes","description":"Job attributes to include, or 'all' for every available attribute (including the full `description`). Off by default. Note that 'all' grows — and its cost grows — as new attributes are added to the endpoint.","default":[]},"related_people":{"anyOf":[{"$ref":"#/components/schemas/JobRelatedPeopleSelection"},{"type":"null"}],"description":"Also return the people likely involved in each job's hiring — scored hiring managers and team members at the posting organization, inferred from team, job function, location and technology similarity, not actual reporting lines. Available in both modes, for at most 200 jobs per request. Each related person returned costs 1 credit."}},"additionalProperties":false,"type":"object","title":"JobsSelect"},"LookupProjectsRequest":{"properties":{"projects":{"items":{"type":"string"},"type":"array","maxItems":1000,"minItems":1,"title":"Projects","description":"List of project names or slugs to look up"}},"type":"object","required":["projects"],"title":"LookupProjectsRequest"},"LookupProjectsResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"credits_used":{"type":"integer","title":"Credits Used"},"credits_remaining":{"type":"integer","title":"Credits Remaining"},"matched_count":{"type":"integer","title":"Matched Count"},"results":{"items":{"$ref":"#/components/schemas/app__schemas__paid_api__projects__LookupProjectsResponse__LookupResult"},"type":"array","title":"Results"}},"type":"object","required":["id","credits_used","credits_remaining","matched_count","results"],"title":"LookupProjectsResponse"},"LookupTechnologiesRequest":{"properties":{"technologies":{"items":{"type":"string"},"type":"array","maxItems":1000,"minItems":1,"title":"Technologies","description":"List of technology names, slugs, or aliases to look up"}},"type":"object","required":["technologies"],"title":"LookupTechnologiesRequest"},"LookupTechnologiesResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"credits_used":{"type":"integer","title":"Credits Used"},"credits_remaining":{"type":"integer","title":"Credits Remaining"},"matched_count":{"type":"integer","title":"Matched Count"},"results":{"items":{"$ref":"#/components/schemas/app__schemas__paid_api__technologies__LookupTechnologiesResponse__LookupResult"},"type":"array","title":"Results"}},"type":"object","required":["id","credits_used","credits_remaining","matched_count","results"],"title":"LookupTechnologiesResponse"},"LookupTechnologyCategoriesRequest":{"properties":{"technology_categories":{"items":{"type":"string"},"type":"array","maxItems":1000,"minItems":1,"title":"Technology Categories","description":"List of technology category slugs or names to look up"}},"type":"object","required":["technology_categories"],"title":"LookupTechnologyCategoriesRequest"},"LookupTechnologyCategoriesResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"credits_used":{"type":"integer","title":"Credits Used"},"credits_remaining":{"type":"integer","title":"Credits Remaining"},"matched_count":{"type":"integer","title":"Matched Count"},"results":{"items":{"$ref":"#/components/schemas/app__schemas__paid_api__technologies__LookupTechnologyCategoriesResponse__LookupResult"},"type":"array","title":"Results"}},"type":"object","required":["id","credits_used","credits_remaining","matched_count","results"],"title":"LookupTechnologyCategoriesResponse"},"LookupTitlesRequest":{"properties":{"titles":{"items":{"type":"string"},"type":"array","maxItems":1000,"minItems":1,"title":"Titles","description":"List of job titles to look up"}},"type":"object","required":["titles"],"title":"LookupTitlesRequest"},"LookupTitlesResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"credits_used":{"type":"integer","title":"Credits Used"},"credits_remaining":{"type":"integer","title":"Credits Remaining"},"matched_count":{"type":"integer","title":"Matched Count"},"results":{"items":{"$ref":"#/components/schemas/app__schemas__paid_api__jobs__LookupTitlesResponse__LookupResult"},"type":"array","title":"Results"}},"type":"object","required":["id","credits_used","credits_remaining","matched_count","results"],"title":"LookupTitlesResponse"},"MatchOrganizationInput":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name","description":"Organization name"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url","description":"Organization website URL or domain"},"location":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Location","description":"Organization location (country name or code)"},"id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Id","description":"Organization Id on Sumble. When set, the row identifies a Sumble org directly and bypasses matching; name/url/location are not required."},"slug":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Slug","description":"Organization slug on Sumble. When set, the row identifies a Sumble org directly and bypasses matching; name/url/location are not required."}},"additionalProperties":false,"type":"object","title":"MatchOrganizationInput"},"OrganizationListOrganization":{"properties":{"id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"slug":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Slug"},"sumble_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Sumble Url"},"url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Url"},"employee_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Employee Count"},"account_status":{"anyOf":[{"type":"string","enum":["customer","prospect","not_in_crm"]},{"type":"null"}],"title":"Account Status"},"crm_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Crm Url"}},"type":"object","title":"OrganizationListOrganization"},"OrganizationListResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"credits_used":{"type":"integer","title":"Credits Used"},"credits_remaining":{"type":"integer","title":"Credits Remaining"},"list_info":{"$ref":"#/components/schemas/OrganizationListSummary"},"organizations":{"items":{"$ref":"#/components/schemas/OrganizationListOrganization"},"type":"array","title":"Organizations"}},"type":"object","required":["id","credits_used","credits_remaining","list_info","organizations"],"title":"OrganizationListResponse"},"OrganizationListSignalsResponse":{"properties":{"id":{"type":"integer","title":"Id"},"include_in_signals":{"type":"boolean","title":"Include In Signals"}},"type":"object","required":["id","include_in_signals"],"title":"OrganizationListSignalsResponse"},"OrganizationListSummary":{"properties":{"id":{"type":"integer","title":"Id"},"name":{"type":"string","title":"Name"},"url":{"type":"string","maxLength":2083,"minLength":1,"format":"uri","title":"Url"},"organizations_count":{"type":"integer","title":"Organizations Count"},"type":{"$ref":"#/components/schemas/OrganizationListType"},"read_only":{"type":"boolean","title":"Read Only"},"deletable":{"type":"boolean","title":"Deletable"},"deleted":{"type":"boolean","title":"Deleted","default":false},"include_in_signals":{"type":"boolean","title":"Include In Signals","default":true}},"type":"object","required":["id","name","url","organizations_count","type","read_only","deletable"],"title":"OrganizationListSummary"},"OrganizationListType":{"type":"string","enum":["group","user"],"title":"OrganizationListType"},"OrganizationListsResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"credits_used":{"type":"integer","title":"Credits Used"},"credits_remaining":{"type":"integer","title":"Credits Remaining"},"organization_lists":{"items":{"$ref":"#/components/schemas/OrganizationListSummary"},"type":"array","title":"Organization Lists"}},"type":"object","required":["id","credits_used","credits_remaining","organization_lists"],"title":"OrganizationListsResponse"},"PeopleFilter":{"properties":{"organization_ids":{"anyOf":[{"items":{"type":"integer"},"type":"array","maxItems":1000,"minItems":1},{"type":"null"}],"title":"Organization Ids","description":"Sumble organization ids to search within. People queries are organization-scoped: provide this and/or `organization_list_id`."},"organization_list_id":{"anyOf":[{"type":"integer","minimum":1.0},{"type":"null"}],"title":"Organization List Id","description":"Id of one of your saved organization lists (see /organization-lists) whose organizations to search within. Combined with `organization_ids` when both are provided."},"query":{"anyOf":[{"$ref":"#/components/schemas/Query"},{"type":"null"}],"description":"Advanced query narrowing the people returned (job functions, technologies, job levels, locations, ...)."}},"additionalProperties":false,"type":"object","title":"PeopleFilter"},"PeopleSelect":{"properties":{"attributes":{"anyOf":[{"items":{"type":"string","enum":["name","email","phone","linkedin_url","job_title","job_function","job_level","location","country","current_employer","technologies","person_score","confidence"]},"type":"array"},{"type":"string","const":"all"}],"title":"Attributes","description":"Person-level attributes to include, or 'all' for every attribute-priced attribute. Off by default. 'all' excludes contact attributes (email, phone), which must be requested explicitly, and includes `person_score` only when it is available (filter mode with exactly one organization in scope and an ICP configured for your account) — otherwise it is skipped, not an error. When `person_score` is included and no `order_by_column` is set, results are ordered by it. Note that 'all' grows — and its cost grows — as new attributes are added to the endpoint.","default":[]},"related_people":{"anyOf":[{"$ref":"#/components/schemas/RelatedPeopleSelection"},{"type":"null"}],"description":"Also return people related to each matched person, up or down the org hierarchy. Relationships are inferred from org structure and seniority (technology, job function, team, location and job-level similarity), not actual reporting lines. Only available in match mode (`people`), for at most 25 people per request. Each related person returned costs 1 credit."}},"additionalProperties":false,"type":"object","title":"PeopleSelect"},"PersonAttributes":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email","description":"Revealed work email (match mode only). The first successful reveal per person costs 10 credits; repeat reveals while active are free."},"phone":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phone","description":"Revealed phone number (match mode only). The first successful reveal per person costs 80 credits; repeat reveals while active are free."},"linkedin_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Linkedin Url"},"job_title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Job Title"},"job_function":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Job Function"},"job_level":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Job Level"},"location":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Location"},"country":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Country"},"current_employer":{"anyOf":[{"$ref":"#/components/schemas/CurrentEmployer"},{"type":"null"}]},"technologies":{"anyOf":[{"items":{"$ref":"#/components/schemas/PersonTechnology"},"type":"array"},{"type":"null"}],"title":"Technologies","description":"Technologies from the skills on the person's LinkedIn profile, normalized to Sumble's technology catalog. The slug can be used in `filter.query` (technology EQ '<slug>'). Empty when none of the profile's skills map to a known technology."},"person_score":{"anyOf":[{"$ref":"#/components/schemas/PersonScore"},{"type":"null"}],"description":"How well the person matches your ideal customer profile (ICP), 0-100, with a per-feature breakdown. Priced like other paid attributes. Filter mode only; selecting it explicitly requires the filter to resolve to exactly one organization and an ICP configured for your account (`attributes: \"all\"` skips it instead when unavailable). Included automatically when sorting with `order_by_column=\"person_score\"`."}},"type":"object","title":"PersonAttributes"},"PersonInput":{"properties":{"person_id":{"anyOf":[{"type":"integer","minimum":1.0},{"type":"null"}],"title":"Person Id","description":"Person id on Sumble. When set, it identifies the person directly and `linkedin_url`/`email` are ignored."},"linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Linkedin Url","description":"LinkedIn profile URL of the person, e.g. 'https://www.linkedin.com/in/<slug>'. Entries whose URL is not a profile URL come back unmatched. Takes precedence over `email`."},"email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email","description":"Work email of the person, resolved via reverse enrichment. Costs 20 extra credits when it resolves to a returned person; emails that don't resolve come back unmatched, free. Only used when neither `person_id` nor `linkedin_url` is provided."}},"additionalProperties":false,"type":"object","title":"PersonInput"},"PersonRow":{"properties":{"input":{"anyOf":[{"$ref":"#/components/schemas/PersonInput"},{"type":"null"}],"description":"The input entry this row corresponds to (list mode only)."},"person_id":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Person Id","description":"Absent when the input entry didn't resolve to a person."},"sumble_url":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Sumble Url","description":"Link to the person's Sumble profile page."},"attributes":{"anyOf":[{"$ref":"#/components/schemas/PersonAttributes"},{"type":"null"}],"description":"The requested person-level attributes; absent when none resolve."},"related_people":{"anyOf":[{"$ref":"#/components/schemas/RelatedPeopleResult"},{"type":"null"}],"description":"Requested related people (match mode with `select.related_people`)."}},"type":"object","title":"PersonRow"},"PersonScore":{"properties":{"value":{"type":"number","title":"Value","description":"How well the person matches your ideal customer profile (ICP), 0-100. Sum of the three contributions below."},"skill_contribution":{"type":"number","title":"Skill Contribution","description":"Points from technologies the person uses that match your ICP."},"job_function_contribution":{"type":"number","title":"Job Function Contribution","description":"Points from the person's job function matching your ICP."},"seniority_contribution":{"type":"number","title":"Seniority Contribution","description":"Points from the person's job level (seniority)."},"matched_features":{"items":{"$ref":"#/components/schemas/PersonScoreFeature"},"type":"array","title":"Matched Features","description":"The matched technologies and job functions behind the skill and job-function contributions, highest contribution first."}},"type":"object","required":["value","skill_contribution","job_function_contribution","seniority_contribution","matched_features"],"title":"PersonScore"},"PersonScoreFeature":{"properties":{"name":{"type":"string","title":"Name"},"slug":{"type":"string","title":"Slug"},"match_type":{"type":"string","enum":["technology","job_function"],"title":"Match Type"},"contribution":{"type":"number","title":"Contribution","description":"Points of the 0-100 score attributable to this feature."}},"type":"object","required":["name","slug","match_type","contribution"],"title":"PersonScoreFeature"},"PersonTechnology":{"properties":{"name":{"type":"string","title":"Name"},"slug":{"type":"string","title":"Slug"}},"type":"object","required":["name","slug"],"title":"PersonTechnology"},"PrioritySignal":{"properties":{"id":{"type":"integer","title":"Id"},"url":{"type":"string","title":"Url"},"headline":{"type":"string","title":"Headline"},"content":{"type":"string","title":"Content"},"date":{"type":"string","format":"date","title":"Date"},"signal_ids":{"items":{"type":"integer"},"type":"array","title":"Signal Ids"},"organization_ids":{"items":{"type":"integer"},"type":"array","title":"Organization Ids"},"person_ids":{"items":{"type":"integer"},"type":"array","title":"Person Ids"},"job_post_ids":{"items":{"type":"integer"},"type":"array","title":"Job Post Ids"},"is_relevant":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Relevant","description":"Your relevance feedback on this priority signal: true (relevant), false (not relevant), or null (no feedback given). Update it with the Update Priority Signal Relevance endpoint."}},"type":"object","required":["id","url","headline","content","date"],"title":"PrioritySignal"},"PrioritySignalRelevanceResponse":{"properties":{"id":{"type":"integer","title":"Id"},"is_relevant":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Is Relevant"}},"type":"object","required":["id"],"title":"PrioritySignalRelevanceResponse"},"PrioritySignalsResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"credits_used":{"type":"integer","title":"Credits Used"},"credits_remaining":{"type":"integer","title":"Credits Remaining"},"priority_signals":{"items":{"$ref":"#/components/schemas/PrioritySignal"},"type":"array","title":"Priority Signals"}},"type":"object","required":["id","credits_used","credits_remaining","priority_signals"],"title":"PrioritySignalsResponse"},"ProjectDetails":{"properties":{"id":{"type":"integer","title":"Id"},"slug":{"type":"string","title":"Slug"},"name":{"type":"string","title":"Name"}},"type":"object","required":["id","slug","name"],"title":"ProjectDetails"},"Query":{"properties":{"query":{"type":"string","title":"Query"}},"type":"object","required":["query"],"title":"Query"},"RelatedPeopleResult":{"properties":{"managers":{"anyOf":[{"items":{"$ref":"#/components/schemas/RelatedPersonRow"},"type":"array"},{"type":"null"}],"title":"Managers","description":"Inferred managers; present only when requested."},"direct_reports":{"anyOf":[{"items":{"$ref":"#/components/schemas/RelatedPersonRow"},"type":"array"},{"type":"null"}],"title":"Direct Reports","description":"Inferred direct reports; present only when requested."}},"type":"object","title":"RelatedPeopleResult"},"RelatedPeopleSelection":{"properties":{"direction":{"items":{"type":"string","enum":["managers","direct_reports"]},"type":"array","minItems":1,"title":"Direction","description":"Which hierarchy direction(s) to return."},"attributes":{"anyOf":[{"items":{"type":"string","enum":["name","email","phone","linkedin_url","job_title","job_function","job_level","location","country","current_employer","technologies",
[...]
